/* body{
    overflow-x: hidden;
  }
  .navbar{
    background-color: rgba(0, 0, 139, 0);
  }
  .nav-item a{
    font-size: 1.4rem;
    color: white !important;
    font-weight: 500;
    border-bottom: solid 3px transparent;
  }
  .nav-item a:hover{
    color: white;
  }
  .nav-item a:active{
    color: white;
  }
  .nav-item a:focus{
    color: white;
    border-bottom: solid 3px blue;
  }
  .navbar-toggler{
    z-index: 5;
  }
  .navbar-toggler-icon{
    color: black;
  } */

  body{
    overflow-x: auto;
    font-family: "Montserrat", serif;
  }
  .navbar{
    background-color: hsl(217, 100%, 23%);
  }
  .nav-item a{
    letter-spacing: 1px;
    font-size: 1.1rem;
    color: white !important;
    font-weight: 700;
  }
  /* .nav-link{
    border-bottom: solid 5px transparent;
  } */
  .nav-item a:hover{
    color: white;
  }
  .nav-item a:active{
    color: white;
  }
  /* .line4:hover{
    padding-bottom: 6px;
    border-bottom: solid 5px hsl(199.71deg 100% 41.18%);
  }
  .line4:active{
    color: white;
    border-bottom: solid 5px hsl(199.71deg 100% 41.18%) !important;
  } */
  .navbar-toggler{
    z-index: 5;
  }
  .navbar-toggler:focus{
    box-shadow: none;
    color: white;
  }
  .bi-list{
    font-size: 3rem;
    color: white;
  }
  .dropdown-menu{
    background-color:  hsl(217.04deg 100% 22.55%);
    color: white;
  }
  /* .dropdown-item:hover{
    background-color:  hsl(217.04deg 100% 22.55%);
    color: white;
  } */
  /* .home{
    padding-bottom: 6px;
    border-bottom: solid 5px hsl(199.71deg 100% 41.18%) !important;
  } */
  .navbar-light .navbar-toggler-icon{
    background-color: white;
    border-color: white;
  }
  


  .btn:focus{
    box-shadow: none;
  }
  .image{
    background-image: url(./assets/images/bg.jpg);
    background-size: cover;
    background-position: center;
   }
  .main h3{
    color: white;
    font-size: 2.7rem;
    font-weight: 600;
    line-height: 1.8;
  }
  .video{
    color: #fff;
    padding: 12px 40px;
    margin-bottom: 10px;
    font-size: 22px;
    font-weight: 600;
    border-radius: 0;
    background-color: darkblue;
    border-color: darkblue;
  }
  /* .video:hover{
    color: #fff;
    background-color: #1313d1;
    border-color: darkblue;
  } */
  .know{
    color: #fff;
    padding: 12px 40px;
    margin-bottom: 10px;
    font-size: 22px;
    font-weight: 600;
    border-radius: 0;
    margin-left: 10px;
    background-color: #4399fa;
  }
  /* .know:hover{
    color: white;
    background-color: #1c67bd;
    border-color: #2e8dfa;
  }
   */



   .text-wrapper{
    background-image: url(./assets/images/martin-caniga-IhK8p8SxahY-unsplash.jpg);
    background-size: cover;
    background-position: center;
  }
  .blue .active{
    background-color: hsl(199.59deg 93.33% 41.18%) !important;
  }
  .carousel-indicators{
    margin-bottom: 0rem !important;
  }
  .carousel-indicators [data-bs-target]{
    width: 25px;
    height: 25px !important;
    border-radius: 50% !important;
    opacity: 1;
  }
  .text1{
    color: white;
  }
  .text1 p{
    font-size: 2rem;
    font-weight: 400;
  }
  .text1 h2{
    font-size: 3rem;
    font-weight: 500;
    padding-bottom: 20px;
  }




/* .vision h2{
  text-align: center;
  font-size: 3rem;
  font-weight: 500;
  padding-bottom: 20px;
  position: relative;
}
.vision{
  padding: 50px 0px; 
  position: relative;
  overflow: hidden; 
}
.vision .text{
  position: absolute;
  top: 30%;
  color: white;
  text-align: center;
}
.vision p {
  width: 90%;
  font-size: 1.5rem;
  margin-bottom: 25px;
  font-weight: 400;
} */

/* 
.team{
  background-color:black;
}
.team h2{
  text-align: center;
  font-size: 2.5rem;
  line-height: 1.4;
  font-weight: 500;
  padding-bottom: 20px;
  position: relative;
}
.team-box{
  box-shadow: 0px 0 15px rgba(0, 0, 0, 0.1);
}
.team-content{
  padding: 10px 20px;
  background-color: hsl(0deg 0% 96.47%);
}
.team-box img{
  width: 100%;
}
.team-content h6{
  font-weight: 400;
}
.des{
  font-weight: lighter;
  font-size: .7rem;
}
.desc{
  font-size: 14px;
}

.carousel-indicators .active{
  background-color: hsl(199.59deg 93.33% 41.18%);
}
.carousel-indicators{
  margin-bottom: 0rem !important;
}
.carousel-indicators [data-bs-target]{
  width: 25px;
  height: 25px !important;
  border-radius: 50% !important;

  border: solid 1px black;
 opacity: 1;
} */

/* .Certificate{
  background-color: hsl(0deg 0% 96.08%);
}
.Certificate h2{
  text-align: center;
  font-size: 2.5rem;
  line-height: 1.4;
  font-weight: 500;
  padding-bottom: 20px;
  position: relative;
}
.Certificate p{
  font-size: 1.4rem;
  color: hsl(216.87deg 79.05% 20.59%);
}
.box1{
  color: black !important;
  font-weight: 600;
}
.box{
  padding: 50px 20px;
  border: solid 15px black;
  width: 90%;
} */


.team h2{
  text-align: center;
  font-size: 2.5rem;
  line-height: 1.4;
  font-weight: 500;
  padding-bottom: 20px;
  position: relative;
}
.team-box{
  box-shadow: 0px 0 8px rgba(0, 0, 0, 0.26);
  border-radius: 0;
}
.team-content{
  padding: 10px 20px;
  background-color: hsl(0deg 0% 96.47%);
}
.team-box img{
  width: 100%;
}
.team-content h6{
  font-weight: 400;
}
.des{
  font-size: .7rem;
}
.desc{
  font-size: 14px;
}